.sui-layout-header {
    background-color: #0078d7;
    color: white;
}
.sui-search-box__submit {
    background: linear-gradient(to bottom right, blue, pink);
    letter-spacing: 0.1em;
}
.sui-search-box__submit:hover {
    background: linear-gradient(to bottom right, blue, pink);
}

.pager-style {
    margin: 2px;
    max-width: 100%;
}

.search-bar {
    margin: 1em;
    margin-bottom: 1em;
    margin-top: 2em;
}
html, body {
    height: 100%;
    width:100%;
    margin: 0;
}

.gif-container {
  background: url('https://i.pinimg.com/originals/b5/db/46/b5db46949d9005be06ebf248ab1dbb00.gif') repeat-y 100% 100% fixed;
  background-position: center;
  background-size: cover;
  height: 100%;
  width:100%;
    
}
