.home-search {
    margin: 5em auto;
    max-width: 45%;
    display: block;
}

.logo {
    height: 12em;
    width: auto;
    display:block;
    margin: auto auto 0;
}

.poweredby {
    text-align: center;
}
body {
    background-image:url('images/ai-loader-opt.gif');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height:100%;
    width:100%;
}
