.home-search {
    margin: 5em auto;
    max-width: 45%;
    display: block;
}

.logo {
    height: 12em;
    width: auto;
    display:block;
    margin: auto auto 0;
}

.poweredby {
    text-align: center;
}
html, body {
    height: 100%;
    margin: 0;
}

.gif-container {
  background: url('https://i.pinimg.com/originals/b5/db/46/b5db46949d9005be06ebf248ab1dbb00.gif') center;
  background-size: cover;
  height: 100%;
}
